.card {
  margin: 1rem auto;
}

.cardContent {
  display: flex;
}

.details {
  flex: 1;
  padding-right: 1rem;
  padding-left: 1rem;
}

.dataProducts {
  flex: 2;
  padding-right: 1rem;
  padding-left: 1rem;
}
