.filterPanel {
    display: flex;
    flex-direction: column;

    .filterForm  {
        display: flex;
        flex-direction: column;

        & > * {
            padding-bottom: 1rem;
        }

    .nameResolveForm {
        & > :first-child {
            width: 100%;
        }
        & > :nth-child(2) {
            margin-top: 0.5rem;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            /*padding-right: 5rem;*/
            font-size: 1rem;
            color: #666666;
        }
        & > :nth-child(3) {
            font-size: 1rem;
            color: #666666;
        }
        padding-bottom: 0.5rem;
    }

        .coordinates {
            margin-top: 0;
            display: flex;
            flex-direction: row;
            & > :first-child {
                padding-right: 1rem;
            }
        }
    }
}