.landingPage {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    
    .filter {
        width: 18.75rem;
        margin-right: 1rem;
    }

    .data {
        flex: 1 0 auto;
        display: flex;
        flex-direction: column;
    }
}