.rootContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    min-height: 4rem;
    background: rgba(0, 0, 0, 0.1);
    padding: 0rem 1rem;
    color: #003087;
}

.content {
    flex: 1;
    position: relative;
    color: #FFF;
    color: rgba(0, 0, 0, 0.9);
    font-size: 1.3em;
    width: 100%;
    bottom: 0;
}
